@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Outfit';
  src:  url('/fonts/outfit.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  font-family: 'Outfit', sans-serif;
}